/* Ids */
/* #about {
  animation: 1s ease-in-out 0s 1 leftSlideAboutSection;
}

#btn-map {
  width: max-content;
}

#logo-title {
  font-size: 40px;
}

#logo-image {
  box-shadow: 8px -1px 17px black, -8px 1px 12px black !important;
} */

/* Classes */
/* .mc-height {
  height: max-content;
}

.right-anim {
  animation: 1s ease-in-out 0s 1 rightSlideAppointmentSection;
} */

div#card-input > div.input-group {
  height: 50px;
}

div.stepper-view {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.service-price::before {
  content: "$";
}

.banner {
  border-width: 2px !important;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.pe-auto {
  cursor: pointer !important;
}

#snackbar {
  visibility: hidden;
  min-width: fit-content;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.active-view {
  display: block;
}

.inactive-view {
  display: none;
}

.view {
  font-size: 12px;
  word-wrap: break-word;
  max-width: min-content;
}

div.stepper-view > hr {
  height: 10px;
}

.view:last-of-type {
  margin-left: 5px;
}

.view-count {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s fadeout 0.5s 2.5s;
  animation: fadein 0.5s fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Elements */
/* header {
  animation: 1s ease-in-out 0s 1 downSlideHeader;
}

footer {
  animation: 1s ease-in-out 0s 1 upSlideFooter;
}

nav {
  padding-top: 5px;
}

input[type="date"],
input[type="time"] {
  padding: 6px 12px;
  background-color: #212529;
  outline: none;
  border: 1px solid #212529;
  color: white;
} */

/* Animations */
/* @keyframes downSlideHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upSlideFooter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes leftSlideAboutSection {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rightSlideAppointmentSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
} */
