#topHeading {
  margin-top: 0;
  margin-bottom: 0;
}

#topHeadingSubtitle {
  color: grey;
  font-weight: bold;
  font-size: 18px;
}

#bold-weight {
  font-weight: bold;
}

#dropdown {
  padding: 8px;
  width: 100%;
  background: #d500f9;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}

#personal {
  background-color: #666ad1;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 2px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#personal > .options-headings {
  font-weight: bold;
}

#optionsStuff {
  background-color: #019be5;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 2px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#optionsStuff > .options-headings {
  font-weight: bold;
}

#mediumTypes {
  background-color: #df78ef;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 2px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#comments {
  background-color: #80d8ff;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 2px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .personal-input-heading {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 12px;
  align-items: center;
} */

.separator {
  border-bottom: 2px solid tomato;
}

.flexed {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-items-center {
  align-items: center;
}

.flex-content-center {
  justify-content: space-around;
}

.flex-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.options-headings {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-25rem {
  padding: 0.25rem;
}

.padding-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
  padding: 1rem;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

textarea {
  width: 100%;
  background-color: #0091ea !important;
}
