div#card-input > div.input-group {
  height: 50px;
}

div.stepper-view {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.service-price::before {
  content: "$";
}

.banner {
  border-width: 2px !important;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.pe-auto {
  cursor: pointer !important;
}

#experts .card {
  transition: all 0.3s ease-in-out;
}

#experts .card:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#snackbar {
  visibility: hidden;
  min-width: fit-content;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.active-view {
  display: block;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.inactive-view {
  display: none;
}

.view {
  font-size: 12px;
  word-wrap: break-word;
  max-width: min-content;
}

div.stepper-view > hr {
  height: 10px;
}

.view:last-of-type {
  margin-left: 5px;
}

.view-count {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s fadeout 0.5s 2.5s;
  animation: fadein 0.5s fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
